<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1> This page is coming from template! Thanks! </h1>
    <div>
      <table class="tbl">
        <th>Name</th>
        <th>Age</th>
        <tr>
          <td>{{name}}</td>
          <td>{{age}}</td>
        </tr>
      </table>
    </div>
<!--	<script src="index.js"></script>-->
  </body>
</html>
